<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 1500fh Mentoria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">

   


</head>

<body class="sidebar-mini sidebar-collapse" style="height: auto;">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                    </li>
                </ul>
            }
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link">
                    </a>
                </li>
                <partial name="_LoginPartial" />

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>

        @if (User.Identity.IsAuthenticated)
        {
               
            <!-- /.navbar -->
            <!-- Main Sidebar Container -->
        
         <aside class="main-sidebar sidebar elevation-4" style="background-color:blue">
        
                <!-- Brand Logo -->
                <a class="brand-link">
                    <img src="~/img/logo1500.png" class="img-size-50 mr-3">
                    <span class="brand-text font-weight-light" style="color: white">Projeto1500fh</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar Menu -->
                    <nav class="mt-4">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-users" style="text-align: center; padding-right: 16px;color:white"></i>
                                    <p style="color:aqua">
                                        Pessoas
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="People" asp-action="Students">
                                            <i class="far fa-minus-square nav-icon" style="color: #eeff00;"></i>
                                            <p style="color:white">Alunos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="People" asp-action="Teachers">
                                            <i class="far fa-minus-square nav-icon" style="color: #eeff00;"></i>
                                            <p style="color:white">Professores</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-list" style="text-align: center; padding-right: 16px;color:white"></i>
                                    <p style="color:aqua">
                                        Sistema
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Circles" asp-action="Index">
                                            <i class="fa fa-user-circle" style="text-align: center; padding-right: 16px;color:white"></i>
                                            <p style="color:white">Turmas/Círculo</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>





                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-users" style="text-align: center; padding-right: 16px;color:white"></i>

                                    <p style="color:aqua">
                                        Projetos
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Projects" asp-action="Index">
                                            <i class="far fa-minus-square nav-icon" style="color: #eeff00;"></i>
                                            <p style="color:white">Projetos</p>
                                        </a>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="ActualStates" asp-action="Index">
                                            <i class="far fa-minus-square nav-icon" style="color: #eeff00;"></i>
                                            <p style="color:white">Status Atual</p>
                                        </a>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Themes" asp-action="Index">
                                            <i class="far fa-minus-square nav-icon" style="color: #eeff00;"></i>

                                            <p style="color:white">Tema</p>
                                        </a>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="HourDays" asp-action="Index">
                                            <i class="far fa-minus-square nav-icon" style="color: #eeff00;"></i>

                                            <p style="color:white">Horas dia</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-align-justify" style="text-align: center; padding-right: 16px;color:white"></i>
                                    <p style="color:aqua">
                                        Atividades
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Learnings" asp-action="Index">
                                            <i class="far fa-address-book" style="color:white"></i>
                                            <p style="color:white">Plano de Aprendizado</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Feedbacks" asp-action="Index">
                                            <i class="far fa-address-book" style="color:white"></i>
                                            <p style="color:white"> Feedbacks</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-file-invoice-dollar" style="text-align: center; padding-right: 16px;color:white"></i>
                                    <p style="color:aqua">
                                        Financeiro
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="BankAccounts" asp-action="Index">
                                            <i class="fas fa-coins" style="text-align: center; padding-right: 16px; color:white"></i>
                                            <p style="color:white">Bancos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Expensives" asp-action="Index">
                                            <i class="fas fa-funnel-dollar" style="text-align: center; padding-right: 16px; color:white"></i>
                                            <p style="color:white">Gestão de Caixa</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="CostCenters" asp-action="Index">
                                            <i class="fas fa-funnel-dollar" style="text-align: center; padding-right: 16px; color:white"></i>
                                            <p style="color:white">Centro de Custos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Enterprises" asp-action="Index">
                                            <i class="fas fa-funnel-dollar" style="text-align: center; padding-right: 16px; color:white"></i>
                                            <p style="color:white">Empresas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Captures" asp-action="Index">
                                            <i class="fas fa-funnel-dollar" style="text-align: center; padding-right: 16px; color:white"></i>
                                            <p style="color:white">Conta</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>

                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
           </aside>
           }
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="min-height: 543px;">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-left">
                                    <!-- Timeline Buttons -->
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->
                <!-- Main content -->
                <div class="content">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark" style="display: none;">
                <!-- Control sidebar content goes here -->
                <div class="p-3">
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <!-- Default to the left -->
                <strong>Copyright © 2023 <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>.</strong> Todos direitos reservados.
            </footer>
            <div id="sidebar-overlay"></div>
        </div>
        <!-- ./wrapper -->
        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <a href="c:\users\surfs\source\repos\novamentoria\novamentoria\models\peoplelearn.cs">c:\users\surfs\source\repos\novamentoria\novamentoria\models\peoplelearn.cs</a>
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/js/adminlte.min.js"></script>

        <!-- ORIGINAL SCRIPTS -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
    </body>
    </html>
